# STEP 1 - SCRAPE DATA FROM DESTINATIONS

In [2]:
import requests

In [3]:
#Before creating a loop let's test our api for teh city of Rouen
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?city=Rouen&country=france&format=json&countrycode=fr&limit=1")
response.text

'[{"place_id":122848,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":26686587,"boundingbox":["49.2804591","49.6004591","0.9339658","1.2539658"],"lat":"49.4404591","lon":"1.0939658","display_name":"Rouen, Seine-Maritime, Normandie, France métropolitaine, 76-000, France","class":"place","type":"city","importance":0.8500726280583955,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_city.p.20.png"}]'

In [4]:
#Result is a list with one dic. We have to extract from this dic two key "lat" & "lon"
#Make a research for a town and extract "lat" & "lon" to generate a gps point
first_result = response.json()
dic = first_result[0]
print("lat = {}, long ={}".format(dic["lat"],dic["lon"]))

lat = 49.4404591, long =1.0939658

In [5]:
#We extract the gps coordinates from the api
#Let's create a loop to iterate our request on our list "cities"
#Problem 1 : are written with spaces inside name. We need to replace " " by "+" as indicated in nominatim documentation
cities = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
#"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
#"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

cities2 = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre"]

In [6]:
#Create a new dataframe with the no spaces within cities name
import pandas as pd
villes = pd.DataFrame(cities)
villes[0] = [str(str(i).replace(" ", "+")) for i in villes[0]]
villes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       33 non-null     object
dtypes: object(1)
memory usage: 392.0+ bytes

In [7]:
#Create a dataset with latitude and longitude colums ready to be filled
final = pd.DataFrame(columns=["Latitude", "Longitude"])
#final.insert(0,"Ville",villes[0],True)
final.info()

#for i in final['Ville']:

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   0 non-null      object
 1   Longitude  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [8]:
import time
for i in villes[0]:
        response = requests.get("http://nominatim.openstreetmap.org/search?city={}&country=france&format=json&countrycode=fr&limit=1".format(i))
        first_result = response.json()
        dic = first_result[0]
        lat = dic["lat"]
        lon = dic["lon"]
        print("Gps coordonates of {} is lat ={}, long={}".format(i,lat,lon))
        final.loc[i,'Ville'] = i
        final.loc[i,'Latitude']= lat
        final.loc[i,'Longitude'] = lon
        #break
       # time.sleep(1)

Gps coordonates of Mont+Saint+Michel is lat =48.6359541, long=-1.511459954959514
Gps coordonates of St+Malo is lat =48.649518, long=-2.0260409
Gps coordonates of Bayeux is lat =49.2764624, long=-0.7024738
Gps coordonates of Le+Havre is lat =49.4938975, long=0.1079732
Gps coordonates of Rouen is lat =49.4404591, long=1.0939658
Gps coordonates of Paris is lat =48.8588897, long=2.3200410217200766
Gps coordonates of Amiens is lat =49.8941708, long=2.2956951
Gps coordonates of Lille is lat =50.6365654, long=3.0635282
Gps coordonates of Strasbourg is lat =48.584614, long=7.7507127
Gps coordonates of Chateau+du+Haut+Koenigsbourg is lat =48.2495226, long=7.3454923
Gps coordonates of Colmar is lat =48.0777517, long=7.3579641
Gps coordonates of Eguisheim is lat =48.0447968, long=7.3079618
Gps coordonates of Besancon is lat =47.2380222, long=6.0243622
Gps coordonates of Dijon is lat =47.3215806, long=5.0414701
Gps coordonates of Annecy is lat =45.8992348, long=6.1288847
Gps coordonates of Grenoble is lat =45.1875602, long=5.7357819
Gps coordonates of Lyon is lat =45.7578137, long=4.8320114
Gps coordonates of Bormes+les+Mimosas is lat =43.1572172, long=6.329253867921363
Gps coordonates of Cassis is lat =43.2140359, long=5.5396318
Gps coordonates of Marseille is lat =43.2961743, long=5.3699525
Gps coordonates of Aix+en+Provence is lat =43.5298424, long=5.4474738
Gps coordonates of Avignon is lat =43.9492493, long=4.8059012
Gps coordonates of Uzes is lat =44.0121279, long=4.4196718
Gps coordonates of Nimes is lat =43.8374249, long=4.3600687
Gps coordonates of Aigues+Mortes is lat =43.5658225, long=4.1912837
Gps coordonates of Saintes+Maries+de+la+mer is lat =43.4522771, long=4.4287172
Gps coordonates of Collioure is lat =42.52505, long=3.0831554
Gps coordonates of Carcassonne is lat =43.2130358, long=2.3491069
Gps coordonates of Toulouse is lat =43.6044622, long=1.4442469
Gps coordonates of Montauban is lat =44.0175835, long=1.3549991
Gps coordonates of Biarritz is lat =43.4832523, long=-1.5592776
Gps coordonates of Bayonne is lat =43.4933379, long=-1.475099
Gps coordonates of La+Rochelle is lat =46.1591126, long=-1.1520434

In [23]:
#Reset Index created by our loop
final = final.reset_index(drop=True)
final

                           Ville    Latitude           Longitude
0              Mont+Saint+Michel  48.6359541  -1.511459954959514
1                        St+Malo   48.649518          -2.0260409
2                         Bayeux  49.2764624          -0.7024738
3                       Le+Havre  49.4938975           0.1079732
4                          Rouen  49.4404591           1.0939658
5                          Paris  48.8588897  2.3200410217200766
6                         Amiens  49.8941708           2.2956951
7                          Lille  50.6365654           3.0635282
8                     Strasbourg   48.584614           7.7507127
9   Chateau+du+Haut+Koenigsbourg  48.2495226           7.3454923
10                        Colmar  48.0777517           7.3579641
11                     Eguisheim  48.0447968           7.3079618
12                      Besancon  47.2380222           6.0243622
13                         Dijon  47.3215806           5.0414701
14                        Annecy  45.8992348           6.1288847
15                      Grenoble  45.1875602           5.7357819
16                          Lyon  45.7578137           4.8320114
17            Bormes+les+Mimosas  43.1572172   6.329253867921363
18                        Cassis  43.2140359           5.5396318
19                     Marseille  43.2961743           5.3699525
20               Aix+en+Provence  43.5298424           5.4474738
21                       Avignon  43.9492493           4.8059012
22                          Uzes  44.0121279           4.4196718
23                         Nimes  43.8374249           4.3600687
24                 Aigues+Mortes  43.5658225           4.1912837
25      Saintes+Maries+de+la+mer  43.4522771           4.4287172
26                     Collioure    42.52505           3.0831554
27                   Carcassonne  43.2130358           2.3491069
28                      Toulouse  43.6044622           1.4442469
29                     Montauban  44.0175835           1.3549991
30                      Biarritz  43.4832523          -1.5592776
31                       Bayonne  43.4933379           -1.475099
32                   La+Rochelle  46.1591126          -1.1520434

In [10]:
#Column swap
columns_titles = ["Ville","Latitude","Longitude"]
final=final.reindex(columns=columns_titles)
final

                           Ville    Latitude           Longitude
0              Mont+Saint+Michel  48.6359541  -1.511459954959514
1                        St+Malo   48.649518          -2.0260409
2                         Bayeux  49.2764624          -0.7024738
3                       Le+Havre  49.4938975           0.1079732
4                          Rouen  49.4404591           1.0939658
5                          Paris  48.8588897  2.3200410217200766
6                         Amiens  49.8941708           2.2956951
7                          Lille  50.6365654           3.0635282
8                     Strasbourg   48.584614           7.7507127
9   Chateau+du+Haut+Koenigsbourg  48.2495226           7.3454923
10                        Colmar  48.0777517           7.3579641
11                     Eguisheim  48.0447968           7.3079618
12                      Besancon  47.2380222           6.0243622
13                         Dijon  47.3215806           5.0414701
14                        Annecy  45.8992348           6.1288847
15                      Grenoble  45.1875602           5.7357819
16                          Lyon  45.7578137           4.8320114
17            Bormes+les+Mimosas  43.1572172   6.329253867921363
18                        Cassis  43.2140359           5.5396318
19                     Marseille  43.2961743           5.3699525
20               Aix+en+Provence  43.5298424           5.4474738
21                       Avignon  43.9492493           4.8059012
22                          Uzes  44.0121279           4.4196718
23                         Nimes  43.8374249           4.3600687
24                 Aigues+Mortes  43.5658225           4.1912837
25      Saintes+Maries+de+la+mer  43.4522771           4.4287172
26                     Collioure    42.52505           3.0831554
27                   Carcassonne  43.2130358           2.3491069
28                      Toulouse  43.6044622           1.4442469
29                     Montauban  44.0175835           1.3549991
30                      Biarritz  43.4832523          -1.5592776
31                       Bayonne  43.4933379           -1.475099
32                   La+Rochelle  46.1591126          -1.1520434

In [11]:
#Gorges du verdon

#Ariege

In [12]:
#Before creating a loop let's test our api for Gorge du verdon
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?Other=Gorges+du+verdon&country=france&format=json&limit=1&countrycode=fr&tourims=attraction")
response.text

'[{"place_id":282341688,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":2202162,"boundingbox":["-50.2187169","51.3055721","-178.3873749","172.3057152"],"lat":"46.603354","lon":"1.8883335","display_name":"France","class":"boundary","type":"administrative","importance":1.0133264437396503,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

In [13]:
#Before creating a loop let's test our api for teh Ariège
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?county=Ariège&country=france&format=json&countrycode=fr&limit=1&boundary=administrative")
response.text

'[{"place_id":281653603,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":7439,"boundingbox":["42.5732416","43.3162514","0.8267506","2.1758135"],"lat":"42.9455368","lon":"1.4065544156065486","display_name":"Ariège, Occitanie, France métropolitaine, France","class":"boundary","type":"administrative","importance":0.8109114788084189,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

# STEP 2 - GET WEATHER DATA FROM EACH DESTINATION

In [14]:
#Now le'ts focus on getting weatehr data from each destination
#Imputs of the API is : lat, lon, exclude, units, appid


r_weather = requests.get("https://api.openweathermap.org/data/2.5/onecall?lat=48.8588897&lon=-2.3200410217200766&exclude=current,minutely,hourly,alerts&units=metric&appid=6caf73164b957d18dbdd2884cc3c6945")
r_weather.text

'{"lat":48.8589,"lon":-2.32,"timezone":"Europe/Paris","timezone_offset":3600,"daily":[{"dt":1648296000,"sunrise":1648274389,"sunset":1648319399,"moonrise":1648265520,"moonset":1648293300,"moon_phase":0.79,"temp":{"day":11.08,"min":9.5,"max":12.27,"night":10.69,"eve":12.07,"morn":9.69},"feels_like":{"day":10.28,"night":9.98,"eve":11.42,"morn":6.39},"pressure":1028,"humidity":78,"dew_point":7.37,"wind_speed":9.88,"wind_deg":60,"wind_gust":14.5,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":4.38},{"dt":1648382400,"sunrise":1648360662,"sunset":1648405888,"moonrise":1648354680,"moonset":1648384320,"moon_phase":0.83,"temp":{"day":11.42,"min":9.83,"max":12.98,"night":11.83,"eve":12.66,"morn":9.9},"feels_like":{"day":10.6,"night":11.24,"eve":11.99,"morn":6.95},"pressure":1028,"humidity":76,"dew_point":7.23,"wind_speed":7.77,"wind_deg":61,"wind_gust":11.78,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":4.09},{"dt":1648468800,"sunrise":1648446935,"sunset":1648492378,"moonrise":1648443120,"moonset":1648475580,"moon_phase":0.87,"temp":{"day":12.43,"min":10.25,"max":13.79,"night":12.51,"eve":13.71,"morn":10.43},"feels_like":{"day":11.82,"night":11.91,"eve":13.07,"morn":9.67},"pressure":1021,"humidity":80,"dew_point":9.12,"wind_speed":4.78,"wind_deg":126,"wind_gust":6.25,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"clouds":92,"pop":0,"uvi":3.54},{"dt":1648555200,"sunrise":1648533208,"sunset":1648578867,"moonrise":1648531080,"moonset":1648566840,"moon_phase":0.9,"temp":{"day":11.67,"min":11.09,"max":12.42,"night":11.09,"eve":12.42,"morn":11.23},"feels_like":{"day":11.03,"night":10.55,"eve":11.83,"morn":10.6},"pressure":1009,"humidity":82,"dew_point":8.63,"wind_speed":4.66,"wind_deg":346,"wind_gust":5.2,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":97,"pop":0.49,"rain":0.3,"uvi":3.53},{"dt":1648641600,"sunrise":1648619482,"sunset":1648665356,"moonrise":1648618740,"moonset":1648657860,"moon_phase":0.94,"temp":{"day":11.74,"min":10.21,"max":12.3,"night":10.37,"eve":11.09,"morn":10.46},"feels_like":{"day":11.06,"night":9.71,"eve":10.47,"morn":9.89},"pressure":1005,"humidity":80,"dew_point":8.32,"wind_speed":10.68,"wind_deg":274,"wind_gust":14.95,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":100,"pop":1,"rain":1.32,"uvi":3.13},{"dt":1648728000,"sunrise":1648705755,"sunset":1648751845,"moonrise":1648706220,"moonset":1648748820,"moon_phase":0.97,"temp":{"day":11.19,"min":10.35,"max":11.66,"night":10.45,"eve":11.36,"morn":11.56},"feels_like":{"day":10.64,"night":9.72,"eve":10.8,"morn":11.02},"pressure":1003,"humidity":87,"dew_point":9.16,"wind_speed":11.61,"wind_deg":261,"wind_gust":17.04,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":100,"pop":0.81,"rain":3.95,"uvi":4},{"dt":1648814400,"sunrise":1648792029,"sunset":1648838334,"moonrise":1648793580,"moonset":1648839660,"moon_phase":0,"temp":{"day":12.18,"min":9.49,"max":12.33,"night":11.78,"eve":12.09,"morn":9.49},"feels_like":{"day":11.91,"night":11.42,"eve":11.7,"morn":6.98},"pressure":1007,"humidity":94,"dew_point":11.26,"wind_speed":10.05,"wind_deg":272,"wind_gust":15.53,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":100,"pop":0.78,"rain":1.32,"uvi":4},{"dt":1648900800,"sunrise":1648878303,"sunset":1648924823,"moonrise":1648880940,"moonset":1648930380,"moon_phase":0.04,"temp":{"day":13.05,"min":11.42,"max":14.16,"night":12.42,"eve":13.75,"morn":11.42},"feels_like":{"day":12.73,"night":12.15,"eve":13.45,"morn":11.05},"pressure":1013,"humidity":89,"dew_point":11.29,"wind_speed":7.53,"wind_deg":208,"wind_gust":11.76,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":86,"pop":0.3,"rain":0.19,"uvi":4}]}'

In [15]:
weather_dic = r_weather.json()
#print("dt = {}, temp_of_the_day ={}".format(dic[""],dic["lon"]))

In [16]:
#To display the data for the next 7 days. It's a dict
weather_dic

{'lat': 48.8589,
 'lon': -2.32,
 'timezone': 'Europe/Paris',
 'timezone_offset': 3600,
 'daily': [{'dt': 1648296000,
   'sunrise': 1648274389,
   'sunset': 1648319399,
   'moonrise': 1648265520,
   'moonset': 1648293300,
   'moon_phase': 0.79,
   'temp': {'day': 11.08,
    'min': 9.5,
    'max': 12.27,
    'night': 10.69,
    'eve': 12.07,
    'morn': 9.69},
   'feels_like': {'day': 10.28, 'night': 9.98, 'eve': 11.42, 'morn': 6.39},
   'pressure': 1028,
   'humidity': 78,
   'dew_point': 7.37,
   'wind_speed': 9.88,
   'wind_deg': 60,
   'wind_gust': 14.5,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 0,
   'pop': 0,
   'uvi': 4.38},
  {'dt': 1648382400,
   'sunrise': 1648360662,
   'sunset': 1648405888,
   'moonrise': 1648354680,
   'moonset': 1648384320,
   'moon_phase': 0.83,
   'temp': {'day': 11.42,
    'min': 9.83,
    'max': 12.98,
    'night': 11.83,
    'eve': 12.66,
    'morn': 9.9},
   'feels_like': {'day': 10.6, 'night': 11.24, 'eve': 11.99, 'morn': 6.95},
   'pressure': 1028,
   'humidity': 76,
   'dew_point': 7.23,
   'wind_speed': 7.77,
   'wind_deg': 61,
   'wind_gust': 11.78,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 0,
   'pop': 0,
   'uvi': 4.09},
  {'dt': 1648468800,
   'sunrise': 1648446935,
   'sunset': 1648492378,
   'moonrise': 1648443120,
   'moonset': 1648475580,
   'moon_phase': 0.87,
   'temp': {'day': 12.43,
    'min': 10.25,
    'max': 13.79,
    'night': 12.51,
    'eve': 13.71,
    'morn': 10.43},
   'feels_like': {'day': 11.82, 'night': 11.91, 'eve': 13.07, 'morn': 9.67},
   'pressure': 1021,
   'humidity': 80,
   'dew_point': 9.12,
   'wind_speed': 4.78,
   'wind_deg': 126,
   'wind_gust': 6.25,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 92,
   'pop': 0,
   'uvi': 3.54},
  {'dt': 1648555200,
   'sunrise': 1648533208,
   'sunset': 1648578867,
   'moonrise': 1648531080,
   'moonset': 1648566840,
   'moon_phase': 0.9,
   'temp': {'day': 11.67,
    'min': 11.09,
    'max': 12.42,
    'night': 11.09,
    'eve': 12.42,
    'morn': 11.23},
   'feels_like': {'day': 11.03, 'night': 10.55, 'eve': 11.83, 'morn': 10.6},
   'pressure': 1009,
   'humidity': 82,
   'dew_point': 8.63,
   'wind_speed': 4.66,
   'wind_deg': 346,
   'wind_gust': 5.2,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 97,
   'pop': 0.49,
   'rain': 0.3,
   'uvi': 3.53},
  {'dt': 1648641600,
   'sunrise': 1648619482,
   'sunset': 1648665356,
   'moonrise': 1648618740,
   'moonset': 1648657860,
   'moon_phase': 0.94,
   'temp': {'day': 11.74,
    'min': 10.21,
    'max': 12.3,
    'night': 10.37,
    'eve': 11.09,
    'morn': 10.46},
   'feels_like': {'day': 11.06, 'night': 9.71, 'eve': 10.47, 'morn': 9.89},
   'pressure': 1005,
   'humidity': 80,
   'dew_point': 8.32,
   'wind_speed': 10.68,
   'wind_deg': 274,
   'wind_gust': 14.95,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 1,
   'rain': 1.32,
   'uvi': 3.13},
  {'dt': 1648728000,
   'sunrise': 1648705755,
   'sunset': 1648751845,
   'moonrise': 1648706220,
   'moonset': 1648748820,
   'moon_phase': 0.97,
   'temp': {'day': 11.19,
    'min': 10.35,
    'max': 11.66,
    'night': 10.45,
    'eve': 11.36,
    'morn': 11.56},
   'feels_like': {'day': 10.64, 'night': 9.72, 'eve': 10.8, 'morn': 11.02},
   'pressure': 1003,
   'humidity': 87,
   'dew_point': 9.16,
   'wind_speed': 11.61,
   'wind_deg': 261,
   'wind_gust': 17.04,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.81,
   'rain': 3.95,
   'uvi': 4},
  {'dt': 1648814400,
   'sunrise': 1648792029,
   'sunset': 1648838334,
   'moonrise': 1648793580,
   'moonset': 1648839660,
   'moon_phase': 0,
   'temp': {'day': 12.18,
    'min': 9.49,
    'max': 12.33,
    'night': 11.78,
    'eve': 12.09,
    'morn': 9.49},
   'feels_like': {'day': 11.91, 'night': 11.42, 'eve': 11.7, 'morn': 6.98},
   'pressure': 1007,
   'humidity': 94,
   'dew_point': 11.26,
   'wind_speed': 10.05,
   'wind_deg': 272,
   'wind_gust': 15.53,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.78,
   'rain': 1.32,
   'uvi': 4},
  {'dt': 1648900800,
   'sunrise': 1648878303,
   'sunset': 1648924823,
   'moonrise': 1648880940,
   'moonset': 1648930380,
   'moon_phase': 0.04,
   'temp': {'day': 13.05,
    'min': 11.42,
    'max': 14.16,
    'night': 12.42,
    'eve': 13.75,
    'morn': 11.42},
   'feels_like': {'day': 12.73, 'night': 12.15, 'eve': 13.45, 'morn': 11.05},
   'pressure': 1013,
   'humidity': 89,
   'dew_point': 11.29,
   'wind_speed': 7.53,
   'wind_deg': 208,
   'wind_gust': 11.76,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 86,
   'pop': 0.3,
   'rain': 0.19,
   'uvi': 4}]}

In [17]:
#Dic Daily contains 8 dict containing all data for each day
weather_dic["daily"][0]

{'dt': 1648296000,
 'sunrise': 1648274389,
 'sunset': 1648319399,
 'moonrise': 1648265520,
 'moonset': 1648293300,
 'moon_phase': 0.79,
 'temp': {'day': 11.08,
  'min': 9.5,
  'max': 12.27,
  'night': 10.69,
  'eve': 12.07,
  'morn': 9.69},
 'feels_like': {'day': 10.28, 'night': 9.98, 'eve': 11.42, 'morn': 6.39},
 'pressure': 1028,
 'humidity': 78,
 'dew_point': 7.37,
 'wind_speed': 9.88,
 'wind_deg': 60,
 'wind_gust': 14.5,
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'clouds': 0,
 'pop': 0,
 'uvi': 4.38}

In [18]:
#This command create a dataframe panda with information of the json normalizze.
#Here I have the key "daily" of the json normalized in a dataframe.
#pd.json_normalize(weather_dic["daily"])

test_paris = pd.json_normalize(weather_dic,"daily")
test_paris

,dt,sunrise,sunset,moonrise,moonset,moon_phase,pressure,humidity,dew_point,wind_speed,...,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn,rain
0,1648296000,1648274389,1648319399,1648265520,1648293300,0.79,1028,78,7.37,9.88,...,9.50,12.27,10.69,12.07,9.69,10.28,9.98,11.42,6.39,NaN
1,1648382400,1648360662,1648405888,1648354680,1648384320,0.83,1028,76,7.23,7.77,...,9.83,12.98,11.83,12.66,9.90,10.60,11.24,11.99,6.95,NaN
2,1648468800,1648446935,1648492378,1648443120,1648475580,0.87,1021,80,9.12,4.78,...,10.25,13.79,12.51,13.71,10.43,11.82,11.91,13.07,9.67,NaN
3,1648555200,1648533208,1648578867,1648531080,1648566840,0.90,1009,82,8.63,4.66,...,11.09,12.42,11.09,12.42,11.23,11.03,10.55,11.83,10.60,0.30
4,1648641600,1648619482,1648665356,1648618740,1648657860,0.94,1005,80,8.32,10.68,...,10.21,12.30,10.37,11.09,10.46,11.06,9.71,10.47,9.89,1.32
5,1648728000,1648705755,1648751845,1648706220,1648748820,0.97,1003,87,9.16,11.61,...,10.35,11.66,10.45,11.36,11.56,10.64,9.72,10.80,11.02,3.95
6,1648814400,1648792029,1648838334,1648793580,1648839660,0.00,1007,94,11.26,10.05,...,9.49,12.33,11.78,12.09,9.49,11.91,11.42,11.70,6.98,1.32
7,1648900800,1648878303,1648924823,1648880940,1648930380,0.04,1013,89,11.29,7.53,...,11.42,14.16,12.42,13.75,11.42,12.73,12.15,13.45,11.05,0.19

In [19]:
test_paris.columns.tolist()

['dt',
 'sunrise',
 'sunset',
 'moonrise',
 'moonset',
 'moon_phase',
 'pressure',
 'humidity',
 'dew_point',
 'wind_speed',
 'wind_deg',
 'wind_gust',
 'weather',
 'clouds',
 'pop',
 'uvi',
 'temp.day',
 'temp.min',
 'temp.max',
 'temp.night',
 'temp.eve',
 'temp.morn',
 'feels_like.day',
 'feels_like.night',
 'feels_like.eve',
 'feels_like.morn',
 'rain']

In [20]:
# We keep : dt, temp.day, daily pressure, temp day, rain
test_paris = test_paris.drop(['sunrise',
'sunset',
'moonrise',
'moonset',
'moon_phase',
'humidity',
'dew_point',
'wind_speed',
'wind_deg',
'wind_gust',
'weather',
'pop',
'uvi',
'temp.min',
'temp.max',
'temp.night',
'temp.eve',
'temp.morn',
'feels_like.day',
'feels_like.night',
'feels_like.eve',
'feels_like.morn'], axis = 1)
#And here our new dataset with the values indicating there is a good weather
#Changer une date 1/1/2016 en 2016-01-26
#test_paris['dt'] = 
test_paris.head()

           dt  pressure  clouds  temp.day  rain
0  1648296000      1028       0     11.08   NaN
1  1648382400      1028       0     11.42   NaN
2  1648468800      1021      92     12.43   NaN
3  1648555200      1009      97     11.67  0.30
4  1648641600      1005     100     11.74  1.32

In [21]:
from datetime import datetime

In [22]:
#Challenge : trouver un moyen de transformer la colonne en format timestamp en date.

test_paris['dt_1'] = datetime.fromtimestamp(test_paris['dt']).strftime('%d-%m-%y')

TypeError: cannot convert the series to <class 'int'>