# STEP 1 - SCRAPE DATA FROM DESTINATIONS

In [1]:
import requests

In [2]:
#Before creating a loop let's test our api for teh city of Rouen
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?city=Rouen&country=france&format=json&countrycode=fr&limit=1")
response.text

'[{"place_id":122848,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":26686587,"boundingbox":["49.2804591","49.6004591","0.9339658","1.2539658"],"lat":"49.4404591","lon":"1.0939658","display_name":"Rouen, Seine-Maritime, Normandie, France métropolitaine, 76-000, France","class":"place","type":"city","importance":0.8500726280583955,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_city.p.20.png"}]'

In [3]:
#Result is a list with one dic. We have to extract from this dic two key "lat" & "lon"
#Make a research for a town and extract "lat" & "lon" to generate a gps point
first_result = response.json()
dic = first_result[0]
print("lat = {}, long ={}".format(dic["lat"],dic["lon"]))

lat = 49.4404591, long =1.0939658

In [4]:
#We extract the gps coordinates from the api
#Let's create a loop to iterate our request on our list "cities"
#Problem 1 : are written with spaces inside name. We need to replace " " by "+" as indicated in nominatim documentation
cities = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
#"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
#"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

cities2 = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre"]

In [5]:
#Create a new dataframe with the no spaces within cities name
import pandas as pd
villes = pd.DataFrame(cities)
villes[0] = [str(str(i).replace(" ", "+")) for i in villes[0]]
villes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       33 non-null     object
dtypes: object(1)
memory usage: 392.0+ bytes

In [6]:
#Create a dataset with latitude and longitude colums ready to be filled
final = pd.DataFrame(columns=["Latitude", "Longitude"])
#final.insert(0,"Ville",villes[0],True)
final.info()

#for i in final['Ville']:

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   0 non-null      object
 1   Longitude  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [7]:
import time
for i in villes[0]:
        response = requests.get("http://nominatim.openstreetmap.org/search?city={}&country=france&format=json&countrycode=fr&limit=1".format(i))
        first_result = response.json()
        dic = first_result[0]
        lat = dic["lat"]
        lon = dic["lon"]
        print("Gps coordonates of {} is lat ={}, long={}".format(i,lat,lon))
        final.loc[i,'Ville'] = i
        final.loc[i,'Latitude']= lat
        final.loc[i,'Longitude'] = lon
        #break
       # time.sleep(1)

Gps coordonates of Mont+Saint+Michel is lat =48.6359541, long=-1.511459954959514
Gps coordonates of St+Malo is lat =48.649518, long=-2.0260409
Gps coordonates of Bayeux is lat =49.2764624, long=-0.7024738
Gps coordonates of Le+Havre is lat =49.4938975, long=0.1079732
Gps coordonates of Rouen is lat =49.4404591, long=1.0939658
Gps coordonates of Paris is lat =48.8588897, long=2.3200410217200766
Gps coordonates of Amiens is lat =49.8941708, long=2.2956951
Gps coordonates of Lille is lat =50.6365654, long=3.0635282
Gps coordonates of Strasbourg is lat =48.584614, long=7.7507127
Gps coordonates of Chateau+du+Haut+Koenigsbourg is lat =48.2495226, long=7.3454923
Gps coordonates of Colmar is lat =48.0777517, long=7.3579641
Gps coordonates of Eguisheim is lat =48.0447968, long=7.3079618
Gps coordonates of Besancon is lat =47.2380222, long=6.0243622
Gps coordonates of Dijon is lat =47.3215806, long=5.0414701
Gps coordonates of Annecy is lat =45.8992348, long=6.1288847
Gps coordonates of Grenoble is lat =45.1875602, long=5.7357819
Gps coordonates of Lyon is lat =45.7578137, long=4.8320114
Gps coordonates of Bormes+les+Mimosas is lat =43.1572172, long=6.329253867921363
Gps coordonates of Cassis is lat =43.2140359, long=5.5396318
Gps coordonates of Marseille is lat =43.2961743, long=5.3699525
Gps coordonates of Aix+en+Provence is lat =43.5298424, long=5.4474738
Gps coordonates of Avignon is lat =43.9492493, long=4.8059012
Gps coordonates of Uzes is lat =44.0121279, long=4.4196718
Gps coordonates of Nimes is lat =43.8374249, long=4.3600687
Gps coordonates of Aigues+Mortes is lat =43.5658225, long=4.1912837
Gps coordonates of Saintes+Maries+de+la+mer is lat =43.4522771, long=4.4287172
Gps coordonates of Collioure is lat =42.52505, long=3.0831554
Gps coordonates of Carcassonne is lat =43.2130358, long=2.3491069
Gps coordonates of Toulouse is lat =43.6044622, long=1.4442469
Gps coordonates of Montauban is lat =44.0175835, long=1.3549991
Gps coordonates of Biarritz is lat =43.4832523, long=-1.5592776
Gps coordonates of Bayonne is lat =43.4933379, long=-1.475099
Gps coordonates of La+Rochelle is lat =46.1591126, long=-1.1520434

In [8]:
#Reset Index created by our loop
final = final.reset_index(drop=True)
final

      Latitude           Longitude                         Ville
0   48.6359541  -1.511459954959514             Mont+Saint+Michel
1    48.649518          -2.0260409                       St+Malo
2   49.2764624          -0.7024738                        Bayeux
3   49.4938975           0.1079732                      Le+Havre
4   49.4404591           1.0939658                         Rouen
5   48.8588897  2.3200410217200766                         Paris
6   49.8941708           2.2956951                        Amiens
7   50.6365654           3.0635282                         Lille
8    48.584614           7.7507127                    Strasbourg
9   48.2495226           7.3454923  Chateau+du+Haut+Koenigsbourg
10  48.0777517           7.3579641                        Colmar
11  48.0447968           7.3079618                     Eguisheim
12  47.2380222           6.0243622                      Besancon
13  47.3215806           5.0414701                         Dijon
14  45.8992348           6.1288847                        Annecy
15  45.1875602           5.7357819                      Grenoble
16  45.7578137           4.8320114                          Lyon
17  43.1572172   6.329253867921363            Bormes+les+Mimosas
18  43.2140359           5.5396318                        Cassis
19  43.2961743           5.3699525                     Marseille
20  43.5298424           5.4474738               Aix+en+Provence
21  43.9492493           4.8059012                       Avignon
22  44.0121279           4.4196718                          Uzes
23  43.8374249           4.3600687                         Nimes
24  43.5658225           4.1912837                 Aigues+Mortes
25  43.4522771           4.4287172      Saintes+Maries+de+la+mer
26    42.52505           3.0831554                     Collioure
27  43.2130358           2.3491069                   Carcassonne
28  43.6044622           1.4442469                      Toulouse
29  44.0175835           1.3549991                     Montauban
30  43.4832523          -1.5592776                      Biarritz
31  43.4933379           -1.475099                       Bayonne
32  46.1591126          -1.1520434                   La+Rochelle

In [9]:
#Gorges du verdon

#Ariege

In [10]:
#Before creating a loop let's test our api for Gorge du verdon
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?Other=Gorges+du+verdon&country=france&format=json&limit=1&countrycode=fr&tourims=attraction")
response.text

'[{"place_id":282341688,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":2202162,"boundingbox":["-50.2187169","51.3055721","-178.3873749","172.3057152"],"lat":"46.603354","lon":"1.8883335","display_name":"France","class":"boundary","type":"administrative","importance":1.0133264437396503,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

In [11]:
#Before creating a loop let's test our api for teh Ariège
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?county=Ariège&country=france&format=json&countrycode=fr&limit=1&boundary=administrative")
response.text

'[{"place_id":281653603,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":7439,"boundingbox":["42.5732416","43.3162514","0.8267506","2.1758135"],"lat":"42.9455368","lon":"1.4065544156065486","display_name":"Ariège, Occitanie, France métropolitaine, France","class":"boundary","type":"administrative","importance":0.8109114788084189,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

# STEP 2 - GET WEATHER DATA FROM EACH DESTINATION

In [12]:
#Now le'ts focus on getting weatehr data from each destination
#Imputs of the API is : lat, lon, exclude, units, appid


r_weather = requests.get("https://api.openweathermap.org/data/2.5/onecall?lat=48.8588897&lon=-2.3200410217200766&exclude=current,minutely,hourly,alerts&units=metric&appid=6caf73164b957d18dbdd2884cc3c6945")
r_weather.text

'{"lat":48.8589,"lon":-2.32,"timezone":"Europe/Paris","timezone_offset":3600,"daily":[{"dt":1648209600,"sunrise":1648188117,"sunset":1648232910,"moonrise":1648175580,"moonset":1648202880,"moon_phase":0.75,"temp":{"day":11.74,"min":10.3,"max":18.24,"night":10.55,"eve":16.92,"morn":10.34},"feels_like":{"day":10.93,"night":9.75,"eve":16.68,"morn":9.41},"pressure":1027,"humidity":75,"dew_point":7.38,"wind_speed":10.51,"wind_deg":52,"wind_gust":14.94,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":4.28},{"dt":1648296000,"sunrise":1648274389,"sunset":1648319399,"moonrise":1648265520,"moonset":1648293300,"moon_phase":0.79,"temp":{"day":11.14,"min":9.43,"max":12.23,"night":10.59,"eve":11.89,"morn":9.52},"feels_like":{"day":10.32,"night":9.9,"eve":11.17,"morn":6.1},"pressure":1028,"humidity":77,"dew_point":7.31,"wind_speed":9.43,"wind_deg":54,"wind_gust":13.79,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":4.4},{"dt":1648382400,"sunrise":1648360662,"sunset":1648405888,"moonrise":1648354680,"moonset":1648384320,"moon_phase":0.83,"temp":{"day":11.22,"min":9.72,"max":12.5,"night":11.33,"eve":12.23,"morn":9.85},"feels_like":{"day":10.36,"night":10.76,"eve":11.6,"morn":6.98},"pressure":1028,"humidity":75,"dew_point":6.97,"wind_speed":7.88,"wind_deg":67,"wind_gust":12.09,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":4.16},{"dt":1648468800,"sunrise":1648446935,"sunset":1648492378,"moonrise":1648443120,"moonset":1648475580,"moon_phase":0.87,"temp":{"day":12.3,"min":10.4,"max":13.37,"night":12.7,"eve":13.37,"morn":10.4},"feels_like":{"day":11.62,"night":12.17,"eve":12.75,"morn":9.64},"pressure":1022,"humidity":78,"dew_point":8.6,"wind_speed":4.52,"wind_deg":139,"wind_gust":5.36,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"clouds":74,"pop":0,"uvi":3.63},{"dt":1648555200,"sunrise":1648533208,"sunset":1648578867,"moonrise":1648531080,"moonset":1648566840,"moon_phase":0.9,"temp":{"day":11.89,"min":11.3,"max":12.46,"night":11.75,"eve":12.27,"morn":11.3},"feels_like":{"day":11.15,"night":11.1,"eve":11.62,"morn":10.5},"pressure":1010,"humidity":77,"dew_point":8.01,"wind_speed":3.42,"wind_deg":17,"wind_gust":3.5,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"clouds":45,"pop":0.14,"uvi":2.04},{"dt":1648641600,"sunrise":1648619482,"sunset":1648665356,"moonrise":1648618740,"moonset":1648657860,"moon_phase":0.94,"temp":{"day":12.52,"min":9.6,"max":12.52,"night":10.29,"eve":10.72,"morn":9.6},"feels_like":{"day":11.86,"night":9.59,"eve":9.88,"morn":6.62},"pressure":999,"humidity":78,"dew_point":8.84,"wind_speed":12.28,"wind_deg":254,"wind_gust":16.64,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":100,"pop":1,"rain":1.76,"uvi":3},{"dt":1648728000,"sunrise":1648705755,"sunset":1648751845,"moonrise":1648706220,"moonset":1648748820,"moon_phase":0.97,"temp":{"day":11.45,"min":9.98,"max":11.6,"night":10.3,"eve":11.09,"morn":9.98},"feels_like":{"day":10.66,"night":9.81,"eve":10.58,"morn":6.03},"pressure":1005,"humidity":77,"dew_point":7.61,"wind_speed":12.35,"wind_deg":268,"wind_gust":16.31,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":95,"pop":1,"rain":3.81,"uvi":3},{"dt":1648814400,"sunrise":1648792029,"sunset":1648838334,"moonrise":1648793580,"moonset":1648839660,"moon_phase":0,"temp":{"day":12.26,"min":10.07,"max":12.6,"night":10.07,"eve":11.06,"morn":12.46},"feels_like":{"day":11.45,"night":9.27,"eve":10.36,"morn":12.03},"pressure":1003,"humidity":73,"dew_point":7.54,"wind_speed":16.1,"wind_deg":263,"wind_gust":21.54,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":73,"pop":0.99,"rain":1.88,"uvi":3}]}'

In [13]:
weather_dic = r_weather.json()
#print("dt = {}, temp_of_the_day ={}".format(dic[""],dic["lon"]))

In [14]:
#To display the data for the next 7 days. It's a dict
weather_dic

{'lat': 48.8589,
 'lon': -2.32,
 'timezone': 'Europe/Paris',
 'timezone_offset': 3600,
 'daily': [{'dt': 1648209600,
   'sunrise': 1648188117,
   'sunset': 1648232910,
   'moonrise': 1648175580,
   'moonset': 1648202880,
   'moon_phase': 0.75,
   'temp': {'day': 11.74,
    'min': 10.3,
    'max': 18.24,
    'night': 10.55,
    'eve': 16.92,
    'morn': 10.34},
   'feels_like': {'day': 10.93, 'night': 9.75, 'eve': 16.68, 'morn': 9.41},
   'pressure': 1027,
   'humidity': 75,
   'dew_point': 7.38,
   'wind_speed': 10.51,
   'wind_deg': 52,
   'wind_gust': 14.94,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 0,
   'pop': 0,
   'uvi': 4.28},
  {'dt': 1648296000,
   'sunrise': 1648274389,
   'sunset': 1648319399,
   'moonrise': 1648265520,
   'moonset': 1648293300,
   'moon_phase': 0.79,
   'temp': {'day': 11.14,
    'min': 9.43,
    'max': 12.23,
    'night': 10.59,
    'eve': 11.89,
    'morn': 9.52},
   'feels_like': {'day': 10.32, 'night': 9.9, 'eve': 11.17, 'morn': 6.1},
   'pressure': 1028,
   'humidity': 77,
   'dew_point': 7.31,
   'wind_speed': 9.43,
   'wind_deg': 54,
   'wind_gust': 13.79,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 0,
   'pop': 0,
   'uvi': 4.4},
  {'dt': 1648382400,
   'sunrise': 1648360662,
   'sunset': 1648405888,
   'moonrise': 1648354680,
   'moonset': 1648384320,
   'moon_phase': 0.83,
   'temp': {'day': 11.22,
    'min': 9.72,
    'max': 12.5,
    'night': 11.33,
    'eve': 12.23,
    'morn': 9.85},
   'feels_like': {'day': 10.36, 'night': 10.76, 'eve': 11.6, 'morn': 6.98},
   'pressure': 1028,
   'humidity': 75,
   'dew_point': 6.97,
   'wind_speed': 7.88,
   'wind_deg': 67,
   'wind_gust': 12.09,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 0,
   'pop': 0,
   'uvi': 4.16},
  {'dt': 1648468800,
   'sunrise': 1648446935,
   'sunset': 1648492378,
   'moonrise': 1648443120,
   'moonset': 1648475580,
   'moon_phase': 0.87,
   'temp': {'day': 12.3,
    'min': 10.4,
    'max': 13.37,
    'night': 12.7,
    'eve': 13.37,
    'morn': 10.4},
   'feels_like': {'day': 11.62, 'night': 12.17, 'eve': 12.75, 'morn': 9.64},
   'pressure': 1022,
   'humidity': 78,
   'dew_point': 8.6,
   'wind_speed': 4.52,
   'wind_deg': 139,
   'wind_gust': 5.36,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': 74,
   'pop': 0,
   'uvi': 3.63},
  {'dt': 1648555200,
   'sunrise': 1648533208,
   'sunset': 1648578867,
   'moonrise': 1648531080,
   'moonset': 1648566840,
   'moon_phase': 0.9,
   'temp': {'day': 11.89,
    'min': 11.3,
    'max': 12.46,
    'night': 11.75,
    'eve': 12.27,
    'morn': 11.3},
   'feels_like': {'day': 11.15, 'night': 11.1, 'eve': 11.62, 'morn': 10.5},
   'pressure': 1010,
   'humidity': 77,
   'dew_point': 8.01,
   'wind_speed': 3.42,
   'wind_deg': 17,
   'wind_gust': 3.5,
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': 45,
   'pop': 0.14,
   'uvi': 2.04},
  {'dt': 1648641600,
   'sunrise': 1648619482,
   'sunset': 1648665356,
   'moonrise': 1648618740,
   'moonset': 1648657860,
   'moon_phase': 0.94,
   'temp': {'day': 12.52,
    'min': 9.6,
    'max': 12.52,
    'night': 10.29,
    'eve': 10.72,
    'morn': 9.6},
   'feels_like': {'day': 11.86, 'night': 9.59, 'eve': 9.88, 'morn': 6.62},
   'pressure': 999,
   'humidity': 78,
   'dew_point': 8.84,
   'wind_speed': 12.28,
   'wind_deg': 254,
   'wind_gust': 16.64,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 1,
   'rain': 1.76,
   'uvi': 3},
  {'dt': 1648728000,
   'sunrise': 1648705755,
   'sunset': 1648751845,
   'moonrise': 1648706220,
   'moonset': 1648748820,
   'moon_phase': 0.97,
   'temp': {'day': 11.45,
    'min': 9.98,
    'max': 11.6,
    'night': 10.3,
    'eve': 11.09,
    'morn': 9.98},
   'feels_like': {'day': 10.66, 'night': 9.81, 'eve': 10.58, 'morn': 6.03},
   'pressure': 1005,
   'humidity': 77,
   'dew_point': 7.61,
   'wind_speed': 12.35,
   'wind_deg': 268,
   'wind_gust': 16.31,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 95,
   'pop': 1,
   'rain': 3.81,
   'uvi': 3},
  {'dt': 1648814400,
   'sunrise': 1648792029,
   'sunset': 1648838334,
   'moonrise': 1648793580,
   'moonset': 1648839660,
   'moon_phase': 0,
   'temp': {'day': 12.26,
    'min': 10.07,
    'max': 12.6,
    'night': 10.07,
    'eve': 11.06,
    'morn': 12.46},
   'feels_like': {'day': 11.45, 'night': 9.27, 'eve': 10.36, 'morn': 12.03},
   'pressure': 1003,
   'humidity': 73,
   'dew_point': 7.54,
   'wind_speed': 16.1,
   'wind_deg': 263,
   'wind_gust': 21.54,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 73,
   'pop': 0.99,
   'rain': 1.88,
   'uvi': 3}]}

In [15]:
#Dic Daily contains 8 dict containing all data for each day
weather_dic["daily"][0]

{'dt': 1648209600,
 'sunrise': 1648188117,
 'sunset': 1648232910,
 'moonrise': 1648175580,
 'moonset': 1648202880,
 'moon_phase': 0.75,
 'temp': {'day': 11.74,
  'min': 10.3,
  'max': 18.24,
  'night': 10.55,
  'eve': 16.92,
  'morn': 10.34},
 'feels_like': {'day': 10.93, 'night': 9.75, 'eve': 16.68, 'morn': 9.41},
 'pressure': 1027,
 'humidity': 75,
 'dew_point': 7.38,
 'wind_speed': 10.51,
 'wind_deg': 52,
 'wind_gust': 14.94,
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'clouds': 0,
 'pop': 0,
 'uvi': 4.28}

In [16]:
#This command create a dataframe panda with information of the json normalizze.
#Here I have the key "daily" of the json normalized in a dataframe.
#pd.json_normalize(weather_dic["daily"])

test_paris = pd.json_normalize(weather_dic,"daily")
test_paris

,dt,sunrise,sunset,moonrise,moonset,moon_phase,pressure,humidity,dew_point,wind_speed,...,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn,rain
0,1648209600,1648188117,1648232910,1648175580,1648202880,0.75,1027,75,7.38,10.51,...,10.30,18.24,10.55,16.92,10.34,10.93,9.75,16.68,9.41,NaN
1,1648296000,1648274389,1648319399,1648265520,1648293300,0.79,1028,77,7.31,9.43,...,9.43,12.23,10.59,11.89,9.52,10.32,9.90,11.17,6.10,NaN
2,1648382400,1648360662,1648405888,1648354680,1648384320,0.83,1028,75,6.97,7.88,...,9.72,12.50,11.33,12.23,9.85,10.36,10.76,11.60,6.98,NaN
3,1648468800,1648446935,1648492378,1648443120,1648475580,0.87,1022,78,8.60,4.52,...,10.40,13.37,12.70,13.37,10.40,11.62,12.17,12.75,9.64,NaN
4,1648555200,1648533208,1648578867,1648531080,1648566840,0.90,1010,77,8.01,3.42,...,11.30,12.46,11.75,12.27,11.30,11.15,11.10,11.62,10.50,NaN
5,1648641600,1648619482,1648665356,1648618740,1648657860,0.94,999,78,8.84,12.28,...,9.60,12.52,10.29,10.72,9.60,11.86,9.59,9.88,6.62,1.76
6,1648728000,1648705755,1648751845,1648706220,1648748820,0.97,1005,77,7.61,12.35,...,9.98,11.60,10.30,11.09,9.98,10.66,9.81,10.58,6.03,3.81
7,1648814400,1648792029,1648838334,1648793580,1648839660,0.00,1003,73,7.54,16.10,...,10.07,12.60,10.07,11.06,12.46,11.45,9.27,10.36,12.03,1.88

In [17]:
test_paris.columns.tolist()

['dt',
 'sunrise',
 'sunset',
 'moonrise',
 'moonset',
 'moon_phase',
 'pressure',
 'humidity',
 'dew_point',
 'wind_speed',
 'wind_deg',
 'wind_gust',
 'weather',
 'clouds',
 'pop',
 'uvi',
 'temp.day',
 'temp.min',
 'temp.max',
 'temp.night',
 'temp.eve',
 'temp.morn',
 'feels_like.day',
 'feels_like.night',
 'feels_like.eve',
 'feels_like.morn',
 'rain']

In [18]:
# We keep : dt, temp.day, daily pressure, temp day, rain
test_paris = test_paris.drop(['sunrise',
'sunset',
'moonrise',
'moonset',
'moon_phase',
'humidity',
'dew_point',
'wind_speed',
'wind_deg',
'wind_gust',
'weather',
'pop',
'uvi',
'temp.min',
'temp.max',
'temp.night',
'temp.eve',
'temp.morn',
'feels_like.day',
'feels_like.night',
'feels_like.eve',
'feels_like.morn'], axis = 1)
#And here our new dataset with the values indicating there is a good weather
#Changer une date 1/1/2016 en 2016-01-26
#test_paris['dt'] = 
test_paris.head()

           dt  pressure  clouds  temp.day  rain
0  1648209600      1027       0     11.74   NaN
1  1648296000      1028       0     11.14   NaN
2  1648382400      1028       0     11.22   NaN
3  1648468800      1022      74     12.30   NaN
4  1648555200      1010      45     11.89   NaN

In [19]:
from datetime import datetime

In [30]:
#Challenge : trouver un moyen de transformer la colonne en format timestamp en date.

test_paris['dt_1'] = datetime.fromtimestamp(test_paris['dt']).strftime('%d-%m-%y')

TypeError: cannot convert the series to <class 'int'>