# STEP 1 - SCRAPE DATA FROM DESTINATIONS

In [28]:
import requests

In [29]:
#Before creating a loop let's test our api for the city of Rouen
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?city=Rouen&country=france&format=json&countrycode=fr&limit=1")
response.text

'[{"place_id":122848,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":26686587,"boundingbox":["49.2804591","49.6004591","0.9339658","1.2539658"],"lat":"49.4404591","lon":"1.0939658","display_name":"Rouen, Seine-Maritime, Normandie, France métropolitaine, 76-000, France","class":"place","type":"city","importance":0.8500726280583955,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_city.p.20.png"}]'

In [30]:
#Result is a list with one dic. We have to extract from this dic two key "lat" & "lon"
#Make a research for a town and extract "lat" & "lon" to generate a gps point
first_result = response.json()
dic = first_result[0]
print("lat = {}, long ={}".format(dic["lat"],dic["lon"]))

lat = 49.4404591, long =1.0939658

In [31]:
#We extract the gps coordinates from the api
#Let's create a loop to iterate our request on our list "cities"
#Problem 1 : are written with spaces inside name. We need to replace " " by "+" as indicated in nominatim documentation
cities = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
#"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
#"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

cities2 = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre"]

In [32]:
#Create a new dataframe with the no spaces within cities name
import pandas as pd
villes = pd.DataFrame(cities)
villes[0] = [str(str(i).replace(" ", "+")) for i in villes[0]]
villes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       33 non-null     object
dtypes: object(1)
memory usage: 392.0+ bytes

In [33]:
#Create a dataset with latitude and longitude colums ready to be filled
final = pd.DataFrame(columns=["Latitude", "Longitude"])
#final.insert(0,"Ville",villes[0],True)
final.info()

#for i in final['Ville']:

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   0 non-null      object
 1   Longitude  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [34]:
import time
for i in villes[0]:
        response = requests.get("http://nominatim.openstreetmap.org/search?city={}&country=france&format=json&countrycode=fr&limit=1".format(i))
        first_result = response.json()
        dic = first_result[0]
        lat = dic["lat"]
        lon = dic["lon"]
        print("Gps coordonates of {} is lat ={}, long={}".format(i,lat,lon))
        final.loc[i,'Ville'] = i
        final.loc[i,'Latitude']= lat
        final.loc[i,'Longitude'] = lon
        #break
       # time.sleep(1)

Gps coordonates of Mont+Saint+Michel is lat =48.6359541, long=-1.511459954959514
Gps coordonates of St+Malo is lat =48.649518, long=-2.0260409
Gps coordonates of Bayeux is lat =49.2764624, long=-0.7024738
Gps coordonates of Le+Havre is lat =49.4938975, long=0.1079732
Gps coordonates of Rouen is lat =49.4404591, long=1.0939658
Gps coordonates of Paris is lat =48.8588897, long=2.3200410217200766
Gps coordonates of Amiens is lat =49.8941708, long=2.2956951
Gps coordonates of Lille is lat =50.6365654, long=3.0635282
Gps coordonates of Strasbourg is lat =48.584614, long=7.7507127
Gps coordonates of Chateau+du+Haut+Koenigsbourg is lat =48.2495226, long=7.3454923
Gps coordonates of Colmar is lat =48.0777517, long=7.3579641
Gps coordonates of Eguisheim is lat =48.0447968, long=7.3079618
Gps coordonates of Besancon is lat =47.2380222, long=6.0243622
Gps coordonates of Dijon is lat =47.3215806, long=5.0414701
Gps coordonates of Annecy is lat =45.8992348, long=6.1288847
Gps coordonates of Grenoble is lat =45.1875602, long=5.7357819
Gps coordonates of Lyon is lat =45.7578137, long=4.8320114
Gps coordonates of Bormes+les+Mimosas is lat =43.1572172, long=6.329253867921363
Gps coordonates of Cassis is lat =43.2140359, long=5.5396318
Gps coordonates of Marseille is lat =43.2961743, long=5.3699525
Gps coordonates of Aix+en+Provence is lat =43.5298424, long=5.4474738
Gps coordonates of Avignon is lat =43.9492493, long=4.8059012
Gps coordonates of Uzes is lat =44.0121279, long=4.4196718
Gps coordonates of Nimes is lat =43.8374249, long=4.3600687
Gps coordonates of Aigues+Mortes is lat =43.5658225, long=4.1912837
Gps coordonates of Saintes+Maries+de+la+mer is lat =43.4522771, long=4.4287172
Gps coordonates of Collioure is lat =42.52505, long=3.0831554
Gps coordonates of Carcassonne is lat =43.2130358, long=2.3491069
Gps coordonates of Toulouse is lat =43.6044622, long=1.4442469
Gps coordonates of Montauban is lat =44.0175835, long=1.3549991
Gps coordonates of Biarritz is lat =43.4832523, long=-1.5592776
Gps coordonates of Bayonne is lat =43.4933379, long=-1.475099
Gps coordonates of La+Rochelle is lat =46.1591126, long=-1.1520434

In [35]:
#Reset Index created by our loop
final = final.reset_index(drop=True)
#Column swap
columns_titles = ["Ville","Latitude","Longitude"]
final=final.reindex(columns=columns_titles)
#Deleting "+" in cities' names
final["Ville"] = [str(str(i).replace("+", " ")) for i in final["Ville"]]
final

                           Ville    Latitude           Longitude
0              Mont Saint Michel  48.6359541  -1.511459954959514
1                        St Malo   48.649518          -2.0260409
2                         Bayeux  49.2764624          -0.7024738
3                       Le Havre  49.4938975           0.1079732
4                          Rouen  49.4404591           1.0939658
5                          Paris  48.8588897  2.3200410217200766
6                         Amiens  49.8941708           2.2956951
7                          Lille  50.6365654           3.0635282
8                     Strasbourg   48.584614           7.7507127
9   Chateau du Haut Koenigsbourg  48.2495226           7.3454923
10                        Colmar  48.0777517           7.3579641
11                     Eguisheim  48.0447968           7.3079618
12                      Besancon  47.2380222           6.0243622
13                         Dijon  47.3215806           5.0414701
14                        Annecy  45.8992348           6.1288847
15                      Grenoble  45.1875602           5.7357819
16                          Lyon  45.7578137           4.8320114
17            Bormes les Mimosas  43.1572172   6.329253867921363
18                        Cassis  43.2140359           5.5396318
19                     Marseille  43.2961743           5.3699525
20               Aix en Provence  43.5298424           5.4474738
21                       Avignon  43.9492493           4.8059012
22                          Uzes  44.0121279           4.4196718
23                         Nimes  43.8374249           4.3600687
24                 Aigues Mortes  43.5658225           4.1912837
25      Saintes Maries de la mer  43.4522771           4.4287172
26                     Collioure    42.52505           3.0831554
27                   Carcassonne  43.2130358           2.3491069
28                      Toulouse  43.6044622           1.4442469
29                     Montauban  44.0175835           1.3549991
30                      Biarritz  43.4832523          -1.5592776
31                       Bayonne  43.4933379           -1.475099
32                   La Rochelle  46.1591126          -1.1520434

## Attention : ICI IL FAUT TRAITER GOERGES DU VERDON ET ARIEGE ET LES INTEGRER AUTOMATIQUEMENT DANS LE TABLEAU

In [36]:
#Gorges du verdon
#Ariege

In [37]:
#Before creating a loop let's test our api for Gorge du verdon
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?Other=Gorges+du+verdon&country=france&format=json&limit=1&countrycode=fr&tourims=attraction")
response.text

'[{"place_id":282341688,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":2202162,"boundingbox":["-50.2187169","51.3055721","-178.3873749","172.3057152"],"lat":"46.603354","lon":"1.8883335","display_name":"France","class":"boundary","type":"administrative","importance":1.0133264437396503,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

In [38]:
#Before creating a loop let's test our api for teh Ariège
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?county=Ariège&country=france&format=json&countrycode=fr&limit=1&boundary=administrative")
response.text

'[{"place_id":281653603,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":7439,"boundingbox":["42.5732416","43.3162514","0.8267506","2.1758135"],"lat":"42.9455368","lon":"1.4065544156065486","display_name":"Ariège, Occitanie, France métropolitaine, France","class":"boundary","type":"administrative","importance":0.8109114788084189,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

# STEP 2 - GET WEATHER DATA FROM EACH DESTINATION

In [39]:
#Now let's focus on getting weather data from each destination
#Imputs of the API is : lat, lon, exclude, units, appid
r_weather = requests.get("https://api.openweathermap.org/data/2.5/onecall?lat=48.8588897&lon=-2.3200410217200766&exclude=current,minutely,hourly,alerts&units=metric&appid=6caf73164b957d18dbdd2884cc3c6945")
weather_dic = r_weather.json()
weather_dic

{'lat': 48.8589,
 'lon': -2.32,
 'timezone': 'Europe/Paris',
 'timezone_offset': 7200,
 'daily': [{'dt': 1648468800,
   'sunrise': 1648446935,
   'sunset': 1648492378,
   'moonrise': 1648443120,
   'moonset': 1648475580,
   'moon_phase': 0.87,
   'temp': {'day': 12.67,
    'min': 10.48,
    'max': 13.48,
    'night': 11.84,
    'eve': 11.97,
    'morn': 10.48},
   'feels_like': {'day': 12, 'night': 11.33, 'eve': 11.6, 'morn': 9.7},
   'pressure': 1020,
   'humidity': 77,
   'dew_point': 8.66,
   'wind_speed': 5.13,
   'wind_deg': 139,
   'wind_gust': 7.09,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.53,
   'rain': 1.74,
   'uvi': 2.56},
  {'dt': 1648555200,
   'sunrise': 1648533208,
   'sunset': 1648578867,
   'moonrise': 1648531080,
   'moonset': 1648566840,
   'moon_phase': 0.9,
   'temp': {'day': 10.87,
    'min': 9.95,
    'max': 11.75,
    'night': 9.95,
    'eve': 10.75,
    'morn': 10.56},
   'feels_like': {'day': 10.39, 'night': 6.96, 'eve': 10.23, 'morn': 9.97},
   'pressure': 1009,
   'humidity': 91,
   'dew_point': 9.39,
   'wind_speed': 8.72,
   'wind_deg': 2,
   'wind_gust': 10.71,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': 52,
   'pop': 0.42,
   'uvi': 3.28},
  {'dt': 1648641600,
   'sunrise': 1648619482,
   'sunset': 1648665356,
   'moonrise': 1648618740,
   'moonset': 1648657860,
   'moon_phase': 0.94,
   'temp': {'day': 8.47,
    'min': 8.17,
    'max': 9.94,
    'night': 8.17,
    'eve': 8.41,
    'morn': 8.6},
   'feels_like': {'day': 5.22, 'night': 6.45, 'eve': 5.79, 'morn': 4.36},
   'pressure': 1009,
   'humidity': 74,
   'dew_point': 4.23,
   'wind_speed': 10.16,
   'wind_deg': 32,
   'wind_gust': 10.8,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.5,
   'rain': 1.21,
   'uvi': 2.24},
  {'dt': 1648728000,
   'sunrise': 1648705755,
   'sunset': 1648751845,
   'moonrise': 1648706220,
   'moonset': 1648748820,
   'moon_phase': 0.97,
   'temp': {'day': 4.86,
    'min': 4.86,
    'max': 8.23,
    'night': 6.86,
    'eve': 6.74,
    'morn': 7.1},
   'feels_like': {'day': -1.7, 'night': 0.48, 'eve': 0.22, 'morn': 2.57},
   'pressure': 1008,
   'humidity': 81,
   'dew_point': 1.86,
   'wind_speed': 19.05,
   'wind_deg': 10,
   'wind_gust': 21.89,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 1,
   'rain': 5.48,
   'uvi': 1.54},
  {'dt': 1648814400,
   'sunrise': 1648792029,
   'sunset': 1648838334,
   'moonrise': 1648793580,
   'moonset': 1648839660,
   'moon_phase': 0,
   'temp': {'day': 6.46,
    'min': 6.17,
    'max': 8.4,
    'night': 8.4,
    'eve': 8.19,
    'morn': 6.3},
   'feels_like': {'day': 0.95, 'night': 3.87, 'eve': 3.55, 'morn': -0.05},
   'pressure': 1022,
   'humidity': 57,
   'dew_point': -1.51,
   'wind_speed': 18.31,
   'wind_deg': 18,
   'wind_gust': 20.66,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 34,
   'pop': 0.56,
   'rain': 1,
   'uvi': 3.5},
  {'dt': 1648900800,
   'sunrise': 1648878303,
   'sunset': 1648924823,
   'moonrise': 1648880940,
   'moonset': 1648930380,
   'moon_phase': 0.04,
   'temp': {'day': 6.98,
    'min': 6.82,
    'max': 7.86,
    'night': 7.86,
    'eve': 7.46,
    'morn': 6.93},
   'feels_like': {'day': 3.94, 'night': 4.55, 'eve': 3.97, 'morn': 3.05},
   'pressure': 1025,
   'humidity': 57,
   'dew_point': -0.9,
   'wind_speed': 8.29,
   'wind_deg': 29,
   'wind_gust': 8.59,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 13,
   'pop': 0.05,
   'uvi': 4},
  {'dt': 1648987200,
   'sunrise': 1648964578,
   'sunset': 1649011312,
   'moonrise': 1648968360,
   'moonset': 1649021100,
   'moon_phase': 0.07,
   'temp': {'day': 7.11,
    'min': 6.74,
    'max': 8.12,
    'night': 7.78,
    'eve': 8.12,
    'morn': 7.05},
   'feels_like': {'day': 3.14, 'night': 3.99, 'eve': 4.01, 'morn': 2.35},
   'pressure': 1023,
   'humidity': 68,
   'dew_point': 1.67,
   'wind_speed': 9.83,
   'wind_deg': 358,
   'wind_gust': 10.61,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 67,
   'pop': 0.86,
   'rain': 3.26,
   'uvi': 4},
  {'dt': 1649073600,
   'sunrise': 1649050853,
   'sunset': 1649097802,
   'moonrise': 1649055960,
   'moonset': 0,
   'moon_phase': 0.1,
   'temp': {'day': 8.58,
    'min': 7.23,
    'max': 9.81,
    'night': 9.81,
    'eve': 9.68,
    'morn': 7.23},
   'feels_like': {'day': 6.37, 'night': 6.9, 'eve': 7, 'morn': 5.05},
   'pressure': 1027,
   'humidity': 73,
   'dew_point': 4.03,
   'wind_speed': 6.31,
   'wind_deg': 282,
   'wind_gust': 7.35,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': 74,
   'pop': 0.25,
   'uvi': 4}]}

In [40]:
#Dic Daily contains 8 dict containing all data for each day
#For example, we can extract data for day#1
weather_dic["daily"][0]

{'dt': 1648468800,
 'sunrise': 1648446935,
 'sunset': 1648492378,
 'moonrise': 1648443120,
 'moonset': 1648475580,
 'moon_phase': 0.87,
 'temp': {'day': 12.67,
  'min': 10.48,
  'max': 13.48,
  'night': 11.84,
  'eve': 11.97,
  'morn': 10.48},
 'feels_like': {'day': 12, 'night': 11.33, 'eve': 11.6, 'morn': 9.7},
 'pressure': 1020,
 'humidity': 77,
 'dew_point': 8.66,
 'wind_speed': 5.13,
 'wind_deg': 139,
 'wind_gust': 7.09,
 'weather': [{'id': 500,
   'main': 'Rain',
   'description': 'light rain',
   'icon': '10d'}],
 'clouds': 100,
 'pop': 0.53,
 'rain': 1.74,
 'uvi': 2.56}

In [41]:
#This command create a dataframe panda with information of the json normalizze.
#Here I have the key "daily" of the json normalized in a dataframe.
#pd.json_normalize(weather_dic["daily"])

test_paris = pd.json_normalize(weather_dic,"daily")
test_paris

,dt,sunrise,sunset,moonrise,moonset,moon_phase,pressure,humidity,dew_point,wind_speed,...,temp.day,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn
0,1648468800,1648446935,1648492378,1648443120,1648475580,0.87,1020,77,8.66,5.13,...,12.67,10.48,13.48,11.84,11.97,10.48,12.00,11.33,11.60,9.70
1,1648555200,1648533208,1648578867,1648531080,1648566840,0.90,1009,91,9.39,8.72,...,10.87,9.95,11.75,9.95,10.75,10.56,10.39,6.96,10.23,9.97
2,1648641600,1648619482,1648665356,1648618740,1648657860,0.94,1009,74,4.23,10.16,...,8.47,8.17,9.94,8.17,8.41,8.60,5.22,6.45,5.79,4.36
3,1648728000,1648705755,1648751845,1648706220,1648748820,0.97,1008,81,1.86,19.05,...,4.86,4.86,8.23,6.86,6.74,7.10,-1.70,0.48,0.22,2.57
4,1648814400,1648792029,1648838334,1648793580,1648839660,0.00,1022,57,-1.51,18.31,...,6.46,6.17,8.40,8.40,8.19,6.30,0.95,3.87,3.55,-0.05
5,1648900800,1648878303,1648924823,1648880940,1648930380,0.04,1025,57,-0.90,8.29,...,6.98,6.82,7.86,7.86,7.46,6.93,3.94,4.55,3.97,3.05
6,1648987200,1648964578,1649011312,1648968360,1649021100,0.07,1023,68,1.67,9.83,...,7.11,6.74,8.12,7.78,8.12,7.05,3.14,3.99,4.01,2.35
7,1649073600,1649050853,1649097802,1649055960,0,0.10,1027,73,4.03,6.31,...,8.58,7.23,9.81,9.81,9.68,7.23,6.37,6.90,7.00,5.05

In [42]:
#Create a dataset with latitude and longitude colums ready to be filled
meteo = pd.DataFrame(columns=["rain"])
#final.insert(0,"Ville",villes[0],True)
meteo.head()

Empty DataFrame
Columns: [rain]
Index: []

In [43]:
for i,j,x in zip(final['Latitude'],final['Longitude'],final['Ville']):
        r_weather = requests.get("https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude=current,minutely,hourly,alerts&units=metric&appid=6caf73164b957d18dbdd2884cc3c6945".format(i,j))
        test_weather = r_weather.json()
        test_ville = test_havre = pd.json_normalize(test_weather,"daily")
        test_ville['dt'] = pd.to_datetime(test_ville['dt'], unit='s').dt.date
        mean = test_ville['rain'].mean()
        print("The mean is {}".format(mean))
        meteo.loc[x,'rain'] = mean
        #break
       # time.sleep(1)

The mean is 4.272
The mean is 2.1916666666666664
The mean is 3.5271428571428567
The mean is 2.2385714285714284
The mean is 3.1657142857142864
The mean is 3.568333333333334
The mean is 6.3549999999999995
The mean is 2.183333333333333
The mean is 3.7366666666666664
The mean is 4.66
The mean is 2.3233333333333337
The mean is 2.2766666666666664
The mean is 2.0900000000000003
The mean is 6.24
The mean is 8.155
The mean is 4.147500000000001
The mean is 0.98
The mean is 11.875
The mean is 5.8775
The mean is 5.095000000000001
The mean is 3.956000000000001
The mean is 4.51
The mean is 4.3133333333333335
The mean is 4.1
The mean is 4.713333333333334
The mean is 4.387499999999999
The mean is 7.1433333333333335
The mean is 2.2914285714285714
The mean is 3.0942857142857143
The mean is 2.0316666666666667
The mean is 6.873333333333332
The mean is 6.593333333333334
The mean is 0.8600000000000001

In [44]:
meteo

                                  rain
Mont Saint Michel                4.272
St Malo                       2.191667
Bayeux                        3.527143
Le Havre                      2.238571
Rouen                         3.165714
Paris                         3.568333
Amiens                           6.355
Lille                         2.183333
Strasbourg                    3.736667
Chateau du Haut Koenigsbourg      4.66
Colmar                        2.323333
Eguisheim                     2.276667
Besancon                          2.09
Dijon                             6.24
Annecy                           8.155
Grenoble                        4.1475
Lyon                              0.98
Bormes les Mimosas              11.875
Cassis                          5.8775
Marseille                        5.095
Aix en Provence                  3.956
Avignon                           4.51
Uzes                          4.313333
Nimes                              4.1
Aigues Mortes                 4.713333
Saintes Maries de la mer        4.3875
Collioure                     7.143333
Carcassonne                   2.291429
Toulouse                      3.094286
Montauban                     2.031667
Biarritz                      6.873333
Bayonne                       6.593333
La Rochelle                       0.86

In [45]:
#Best towns in terms of rain

rank = meteo.rain.sort_values(ascending=True)
print(rank)

La Rochelle                         0.86
Lyon                                0.98
Montauban                       2.031667
Besancon                            2.09
Lille                           2.183333
St Malo                         2.191667
Le Havre                        2.238571
Eguisheim                       2.276667
Carcassonne                     2.291429
Colmar                          2.323333
Toulouse                        3.094286
Rouen                           3.165714
Bayeux                          3.527143
Paris                           3.568333
Strasbourg                      3.736667
Aix en Provence                    3.956
Nimes                                4.1
Grenoble                          4.1475
Mont Saint Michel                  4.272
Uzes                            4.313333
Saintes Maries de la mer          4.3875
Avignon                             4.51
Chateau du Haut Koenigsbourg        4.66
Aigues Mortes                   4.713333
Marseille                          5.095
Cassis                            5.8775
Dijon                               6.24
Amiens                             6.355
Bayonne                         6.593333
Biarritz                        6.873333
Collioure                       7.143333
Annecy                             8.155
Bormes les Mimosas                11.875
Name: rain, dtype: object