# STEP 1 - SCRAPE DATA FROM DESTINATIONS

In [1]:
import requests

In [2]:
#Before creating a loop let's test our api for the city of Rouen
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?city=Rouen&country=france&format=json&countrycode=fr&limit=1")
response.text

'[{"place_id":122848,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":26686587,"boundingbox":["49.2804591","49.6004591","0.9339658","1.2539658"],"lat":"49.4404591","lon":"1.0939658","display_name":"Rouen, Seine-Maritime, Normandie, France métropolitaine, 76-000, France","class":"place","type":"city","importance":0.8500726280583955,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_city.p.20.png"}]'

In [3]:
#Result is a list with one dic. We have to extract from this dic two key "lat" & "lon"
#Make a research for a town and extract "lat" & "lon" to generate a gps point
first_result = response.json()
dic = first_result[0]
print("lat = {}, long ={}".format(dic["lat"],dic["lon"]))

lat = 49.4404591, long =1.0939658

In [4]:
#We extract the gps coordinates from the api
#Let's create a loop to iterate our request on our list "cities"
#Problem 1 : are written with spaces inside name. We need to replace " " by "+" as indicated in nominatim documentation
cities = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
#"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
#"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

cities2 = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre"]

In [5]:
#Create a new dataframe with the no spaces within cities name
import pandas as pd
villes = pd.DataFrame(cities)
villes[0] = [str(str(i).replace(" ", "+")) for i in villes[0]]
villes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       33 non-null     object
dtypes: object(1)
memory usage: 392.0+ bytes

In [6]:
#Create a dataset with latitude and longitude colums ready to be filled
final = pd.DataFrame(columns=["Latitude", "Longitude","mean_rain"])
#final.insert(0,"Ville",villes[0],True)
final.info()

#for i in final['Ville']:

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   0 non-null      object
 1   Longitude  0 non-null      object
 2   mean_rain  0 non-null      object
dtypes: object(3)
memory usage: 0.0+ bytes

In [7]:
import time
for i in villes[0]:
        response = requests.get("http://nominatim.openstreetmap.org/search?city={}&country=france&format=json&countrycode=fr&limit=1".format(i))
        first_result = response.json()
        dic = first_result[0]
        lat = dic["lat"]
        lon = dic["lon"]
        print("Gps coordonates of {} is lat ={}, long={}".format(i,lat,lon))
        final.loc[i,'Ville'] = i
        final.loc[i,'Latitude']= lat
        final.loc[i,'Longitude'] = lon
        #break
       # time.sleep(1)

Gps coordonates of Mont+Saint+Michel is lat =48.6359541, long=-1.511459954959514
Gps coordonates of St+Malo is lat =48.649518, long=-2.0260409
Gps coordonates of Bayeux is lat =49.2764624, long=-0.7024738
Gps coordonates of Le+Havre is lat =49.4938975, long=0.1079732
Gps coordonates of Rouen is lat =49.4404591, long=1.0939658
Gps coordonates of Paris is lat =48.8588897, long=2.3200410217200766
Gps coordonates of Amiens is lat =49.8941708, long=2.2956951
Gps coordonates of Lille is lat =50.6365654, long=3.0635282
Gps coordonates of Strasbourg is lat =48.584614, long=7.7507127
Gps coordonates of Chateau+du+Haut+Koenigsbourg is lat =48.2495226, long=7.3454923
Gps coordonates of Colmar is lat =48.0777517, long=7.3579641
Gps coordonates of Eguisheim is lat =48.0447968, long=7.3079618
Gps coordonates of Besancon is lat =47.2380222, long=6.0243622
Gps coordonates of Dijon is lat =47.3215806, long=5.0414701
Gps coordonates of Annecy is lat =45.8992348, long=6.1288847
Gps coordonates of Grenoble is lat =45.1875602, long=5.7357819
Gps coordonates of Lyon is lat =45.7578137, long=4.8320114
Gps coordonates of Bormes+les+Mimosas is lat =43.1572172, long=6.329253867921363
Gps coordonates of Cassis is lat =43.2140359, long=5.5396318
Gps coordonates of Marseille is lat =43.2961743, long=5.3699525
Gps coordonates of Aix+en+Provence is lat =43.5298424, long=5.4474738
Gps coordonates of Avignon is lat =43.9492493, long=4.8059012
Gps coordonates of Uzes is lat =44.0121279, long=4.4196718
Gps coordonates of Nimes is lat =43.8374249, long=4.3600687
Gps coordonates of Aigues+Mortes is lat =43.5658225, long=4.1912837
Gps coordonates of Saintes+Maries+de+la+mer is lat =43.4522771, long=4.4287172
Gps coordonates of Collioure is lat =42.52505, long=3.0831554
Gps coordonates of Carcassonne is lat =43.2130358, long=2.3491069
Gps coordonates of Toulouse is lat =43.6044622, long=1.4442469
Gps coordonates of Montauban is lat =44.0175835, long=1.3549991
Gps coordonates of Biarritz is lat =43.4832523, long=-1.5592776
Gps coordonates of Bayonne is lat =43.4933379, long=-1.475099
Gps coordonates of La+Rochelle is lat =46.1591126, long=-1.1520434

In [18]:
#Reset Index created by our loop
final = final.reset_index(drop=True)
#Column swap
columns_titles = ["Ville","Latitude","Longitude","mean_rain"]
final=final.reindex(columns=columns_titles)
#Deleting "+" in cities' names
final["Ville"] = [str(str(i).replace("+", " ")) for i in final["Ville"]]
final

                           Ville    Latitude           Longitude  mean_rain
0              Mont Saint Michel  48.6359541  -1.511459954959514        NaN
1                        St Malo   48.649518          -2.0260409        NaN
2                         Bayeux  49.2764624          -0.7024738        NaN
3                       Le Havre  49.4938975           0.1079732        NaN
4                          Rouen  49.4404591           1.0939658        NaN
5                          Paris  48.8588897  2.3200410217200766        NaN
6                         Amiens  49.8941708           2.2956951        NaN
7                          Lille  50.6365654           3.0635282        NaN
8                     Strasbourg   48.584614           7.7507127        NaN
9   Chateau du Haut Koenigsbourg  48.2495226           7.3454923        NaN
10                        Colmar  48.0777517           7.3579641        NaN
11                     Eguisheim  48.0447968           7.3079618        NaN
12                      Besancon  47.2380222           6.0243622        NaN
13                         Dijon  47.3215806           5.0414701        NaN
14                        Annecy  45.8992348           6.1288847        NaN
15                      Grenoble  45.1875602           5.7357819        NaN
16                          Lyon  45.7578137           4.8320114        NaN
17            Bormes les Mimosas  43.1572172   6.329253867921363        NaN
18                        Cassis  43.2140359           5.5396318        NaN
19                     Marseille  43.2961743           5.3699525        NaN
20               Aix en Provence  43.5298424           5.4474738        NaN
21                       Avignon  43.9492493           4.8059012        NaN
22                          Uzes  44.0121279           4.4196718        NaN
23                         Nimes  43.8374249           4.3600687        NaN
24                 Aigues Mortes  43.5658225           4.1912837        NaN
25      Saintes Maries de la mer  43.4522771           4.4287172        NaN
26                     Collioure    42.52505           3.0831554        NaN
27                   Carcassonne  43.2130358           2.3491069        NaN
28                      Toulouse  43.6044622           1.4442469        NaN
29                     Montauban  44.0175835           1.3549991        NaN
30                      Biarritz  43.4832523          -1.5592776        NaN
31                       Bayonne  43.4933379           -1.475099        NaN
32                   La Rochelle  46.1591126          -1.1520434        NaN

## Attention : ICI IL FAUT TRAITER GOERGES DU VERDON ET ARIEGE ET LES INTEGRER AUTOMATIQUEMENT DANS LE TABLEAU

In [9]:
#Gorges du verdon
#Ariege

In [10]:
#Before creating a loop let's test our api for Gorge du verdon
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?Other=Gorges+du+verdon&country=france&format=json&limit=1&countrycode=fr&tourims=attraction")
response.text

'[{"place_id":282341688,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":2202162,"boundingbox":["-50.2187169","51.3055721","-178.3873749","172.3057152"],"lat":"46.603354","lon":"1.8883335","display_name":"France","class":"boundary","type":"administrative","importance":1.0133264437396503,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

In [11]:
#Before creating a loop let's test our api for teh Ariège
#To do so we import the libraby called request
response = requests.get("http://nominatim.openstreetmap.org/search?county=Ariège&country=france&format=json&countrycode=fr&limit=1&boundary=administrative")
response.text

'[{"place_id":281653603,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":7439,"boundingbox":["42.5732416","43.3162514","0.8267506","2.1758135"],"lat":"42.9455368","lon":"1.4065544156065486","display_name":"Ariège, Occitanie, France métropolitaine, France","class":"boundary","type":"administrative","importance":0.8109114788084189,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"}]'

# STEP 2 - GET WEATHER DATA FROM EACH DESTINATION

In [12]:
#Now let's focus on getting weather data from each destination
#Imputs of the API is : lat, lon, exclude, units, appid
r_weather = requests.get("https://api.openweathermap.org/data/2.5/onecall?lat=48.8588897&lon=-2.3200410217200766&exclude=current,minutely,hourly,alerts&units=metric&appid=6caf73164b957d18dbdd2884cc3c6945")
weather_dic = r_weather.json()
weather_dic

{'lat': 48.8589,
 'lon': -2.32,
 'timezone': 'Europe/Paris',
 'timezone_offset': 7200,
 'daily': [{'dt': 1648468800,
   'sunrise': 1648446935,
   'sunset': 1648492378,
   'moonrise': 1648443120,
   'moonset': 1648475580,
   'moon_phase': 0.87,
   'temp': {'day': 12.41,
    'min': 10.84,
    'max': 13.67,
    'night': 12.12,
    'eve': 13.41,
    'morn': 11.17},
   'feels_like': {'day': 11.74, 'night': 11.69, 'eve': 12.87, 'morn': 10.46},
   'pressure': 1020,
   'humidity': 78,
   'dew_point': 8.69,
   'wind_speed': 4.94,
   'wind_deg': 134,
   'wind_gust': 6.73,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.53,
   'rain': 0.82,
   'uvi': 2.56},
  {'dt': 1648555200,
   'sunrise': 1648533208,
   'sunset': 1648578867,
   'moonrise': 1648531080,
   'moonset': 1648566840,
   'moon_phase': 0.9,
   'temp': {'day': 10.4,
    'min': 9.8,
    'max': 11.84,
    'night': 10.26,
    'eve': 10.34,
    'morn': 9.9},
   'feels_like': {'day': 9.82, 'night': 9.67, 'eve': 9.83, 'morn': 8.31},
   'pressure': 1009,
   'humidity': 89,
   'dew_point': 8.64,
   'wind_speed': 6.67,
   'wind_deg': 29,
   'wind_gust': 9.2,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 93,
   'pop': 0.55,
   'rain': 0.99,
   'uvi': 3.28},
  {'dt': 1648641600,
   'sunrise': 1648619482,
   'sunset': 1648665356,
   'moonrise': 1648618740,
   'moonset': 1648657860,
   'moon_phase': 0.94,
   'temp': {'day': 9,
    'min': 8.83,
    'max': 10.13,
    'night': 8.86,
    'eve': 8.85,
    'morn': 9.55},
   'feels_like': {'day': 6.1, 'night': 7.52, 'eve': 6.41, 'morn': 5.77},
   'pressure': 1008,
   'humidity': 72,
   'dew_point': 4.25,
   'wind_speed': 9.35,
   'wind_deg': 36,
   'wind_gust': 9.95,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 88,
   'pop': 0.09,
   'uvi': 2.24},
  {'dt': 1648728000,
   'sunrise': 1648705755,
   'sunset': 1648751845,
   'moonrise': 1648706220,
   'moonset': 1648748820,
   'moon_phase': 0.97,
   'temp': {'day': 6.08,
    'min': 5.1,
    'max': 8.92,
    'night': 5.13,
    'eve': 5.21,
    'morn': 8.1},
   'feels_like': {'day': 0.31, 'night': -1.87, 'eve': -1.79, 'morn': 3.42},
   'pressure': 1004,
   'humidity': 73,
   'dew_point': 1.66,
   'wind_speed': 21.14,
   'wind_deg': 2,
   'wind_gust': 22.71,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 99,
   'pop': 0.98,
   'rain': 6.08,
   'uvi': 1.54},
  {'dt': 1648814400,
   'sunrise': 1648792029,
   'sunset': 1648838334,
   'moonrise': 1648793580,
   'moonset': 1648839660,
   'moon_phase': 0,
   'temp': {'day': 6.63,
    'min': 4.88,
    'max': 7.92,
    'night': 7.92,
    'eve': 7.9,
    'morn': 6.32},
   'feels_like': {'day': 0.72, 'night': 3.15, 'eve': 2.99, 'morn': -0.44},
   'pressure': 1017,
   'humidity': 58,
   'dew_point': -0.88,
   'wind_speed': 20.78,
   'wind_deg': 15,
   'wind_gust': 23.34,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.97,
   'rain': 5.83,
   'uvi': 3.5},
  {'dt': 1648900800,
   'sunrise': 1648878303,
   'sunset': 1648924823,
   'moonrise': 1648880940,
   'moonset': 1648930380,
   'moon_phase': 0.04,
   'temp': {'day': 6.72,
    'min': 6.53,
    'max': 7.6,
    'night': 7.17,
    'eve': 7.04,
    'morn': 6.7},
   'feels_like': {'day': 2.87, 'night': 4.36, 'eve': 3.61, 'morn': 2.09},
   'pressure': 1023,
   'humidity': 56,
   'dew_point': -1.4,
   'wind_speed': 10.14,
   'wind_deg': 25,
   'wind_gust': 10.88,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 13,
   'pop': 0.4,
   'rain': 0.12,
   'uvi': 4},
  {'dt': 1648987200,
   'sunrise': 1648964578,
   'sunset': 1649011312,
   'moonrise': 1648968360,
   'moonset': 1649021100,
   'moon_phase': 0.07,
   'temp': {'day': 6.34,
    'min': 5.87,
    'max': 7.58,
    'night': 7.19,
    'eve': 6.45,
    'morn': 7.58},
   'feels_like': {'day': 2.95, 'night': 5.38, 'eve': 4.32, 'morn': 3.41},
   'pressure': 1023,
   'humidity': 78,
   'dew_point': 2.81,
   'wind_speed': 8.42,
   'wind_deg': 342,
   'wind_gust': 9.38,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 63,
   'pop': 0.71,
   'rain': 2.96,
   'uvi': 4},
  {'dt': 1649073600,
   'sunrise': 1649050853,
   'sunset': 1649097802,
   'moonrise': 1649055960,
   'moonset': 0,
   'moon_phase': 0.1,
   'temp': {'day': 8.52,
    'min': 7.02,
    'max': 9.51,
    'night': 9.51,
    'eve': 9.51,
    'morn': 7.2},
   'feels_like': {'day': 5.5, 'night': 5.68, 'eve': 5.65, 'morn': 5.12},
   'pressure': 1024,
   'humidity': 64,
   'dew_point': 2.07,
   'wind_speed': 9.6,
   'wind_deg': 292,
   'wind_gust': 10.26,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 30,
   'pop': 0.2,
   'rain': 0.17,
   'uvi': 4}]}

In [13]:
#Dic Daily contains 8 dict containing all data for each day
#For example, we can extract data for day#1
weather_dic["daily"][0]

{'dt': 1648468800,
 'sunrise': 1648446935,
 'sunset': 1648492378,
 'moonrise': 1648443120,
 'moonset': 1648475580,
 'moon_phase': 0.87,
 'temp': {'day': 12.41,
  'min': 10.84,
  'max': 13.67,
  'night': 12.12,
  'eve': 13.41,
  'morn': 11.17},
 'feels_like': {'day': 11.74, 'night': 11.69, 'eve': 12.87, 'morn': 10.46},
 'pressure': 1020,
 'humidity': 78,
 'dew_point': 8.69,
 'wind_speed': 4.94,
 'wind_deg': 134,
 'wind_gust': 6.73,
 'weather': [{'id': 500,
   'main': 'Rain',
   'description': 'light rain',
   'icon': '10d'}],
 'clouds': 100,
 'pop': 0.53,
 'rain': 0.82,
 'uvi': 2.56}

In [14]:
#This command create a dataframe panda with information of the json normalizze.
#Here I have the key "daily" of the json normalized in a dataframe.
#pd.json_normalize(weather_dic["daily"])

test_paris = pd.json_normalize(weather_dic,"daily")
test_paris

,dt,sunrise,sunset,moonrise,moonset,moon_phase,pressure,humidity,dew_point,wind_speed,...,temp.day,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn
0,1648468800,1648446935,1648492378,1648443120,1648475580,0.87,1020,78,8.69,4.94,...,12.41,10.84,13.67,12.12,13.41,11.17,11.74,11.69,12.87,10.46
1,1648555200,1648533208,1648578867,1648531080,1648566840,0.90,1009,89,8.64,6.67,...,10.40,9.80,11.84,10.26,10.34,9.90,9.82,9.67,9.83,8.31
2,1648641600,1648619482,1648665356,1648618740,1648657860,0.94,1008,72,4.25,9.35,...,9.00,8.83,10.13,8.86,8.85,9.55,6.10,7.52,6.41,5.77
3,1648728000,1648705755,1648751845,1648706220,1648748820,0.97,1004,73,1.66,21.14,...,6.08,5.10,8.92,5.13,5.21,8.10,0.31,-1.87,-1.79,3.42
4,1648814400,1648792029,1648838334,1648793580,1648839660,0.00,1017,58,-0.88,20.78,...,6.63,4.88,7.92,7.92,7.90,6.32,0.72,3.15,2.99,-0.44
5,1648900800,1648878303,1648924823,1648880940,1648930380,0.04,1023,56,-1.40,10.14,...,6.72,6.53,7.60,7.17,7.04,6.70,2.87,4.36,3.61,2.09
6,1648987200,1648964578,1649011312,1648968360,1649021100,0.07,1023,78,2.81,8.42,...,6.34,5.87,7.58,7.19,6.45,7.58,2.95,5.38,4.32,3.41
7,1649073600,1649050853,1649097802,1649055960,0,0.10,1024,64,2.07,9.60,...,8.52,7.02,9.51,9.51,9.51,7.20,5.50,5.68,5.65,5.12

In [15]:
#Create a dataset with latitude and longitude colums ready to be filled
meteo = pd.DataFrame(columns=["rain"])
#final.insert(0,"Ville",villes[0],True)
meteo.head()

Empty DataFrame
Columns: [rain]
Index: []

In [19]:
for idx, i,j,x in zip(range(len(final)), final['Latitude'],final['Longitude'],final['mean_rain']):
        r_weather = requests.get("https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude=current,minutely,hourly,alerts&units=metric&appid=6caf73164b957d18dbdd2884cc3c6945".format(i,j))
        test_weather = r_weather.json()
        test_ville = test_havre = pd.json_normalize(test_weather,"daily")
        test_ville['dt'] = pd.to_datetime(test_ville['dt'], unit='s').dt.date
        mean = test_ville['rain'].mean()
        print("The mean is {}".format(mean))
        #final.loc[x,'mean_rain'] = mean
        #final.iat[0,3] = mean
        final.loc[idx,'mean_rain'] = mean

The mean is 3.7659999999999996
The mean is 4.388
The mean is 2.7187499999999996
The mean is 1.7712500000000002
The mean is 1.7233333333333334
The mean is 9.833333333333334
The mean is 6.766666666666667
The mean is 3.3020000000000005
The mean is 4.023333333333333
The mean is 6.074999999999999
The mean is 3.6375
The mean is 3.7424999999999997
The mean is 4.044
The mean is 2.9375
The mean is 3.753333333333334
The mean is 2.2325
The mean is 1.3600000000000003
The mean is 10.935
The mean is 2.545
The mean is 5.2
The mean is 6.84
The mean is 2.315
The mean is 1.54
The mean is 1.63
The mean is 2.4325
The mean is 3.2249999999999996
The mean is 2.85
The mean is 2.6599999999999997
The mean is 6.376666666666666
The mean is 6.236666666666667
The mean is 5.739999999999999
The mean is 5.515
The mean is 0.9266666666666666

In [20]:
final

                           Ville    Latitude           Longitude  mean_rain
0              Mont Saint Michel  48.6359541  -1.511459954959514   3.766000
1                        St Malo   48.649518          -2.0260409   4.388000
2                         Bayeux  49.2764624          -0.7024738   2.718750
3                       Le Havre  49.4938975           0.1079732   1.771250
4                          Rouen  49.4404591           1.0939658   1.723333
5                          Paris  48.8588897  2.3200410217200766   9.833333
6                         Amiens  49.8941708           2.2956951   6.766667
7                          Lille  50.6365654           3.0635282   3.302000
8                     Strasbourg   48.584614           7.7507127   4.023333
9   Chateau du Haut Koenigsbourg  48.2495226           7.3454923   6.075000
10                        Colmar  48.0777517           7.3579641   3.637500
11                     Eguisheim  48.0447968           7.3079618   3.742500
12                      Besancon  47.2380222           6.0243622   4.044000
13                         Dijon  47.3215806           5.0414701   2.937500
14                        Annecy  45.8992348           6.1288847   3.753333
15                      Grenoble  45.1875602           5.7357819   2.232500
16                          Lyon  45.7578137           4.8320114   1.360000
17            Bormes les Mimosas  43.1572172   6.329253867921363  10.935000
18                        Cassis  43.2140359           5.5396318   2.545000
19                     Marseille  43.2961743           5.3699525   5.200000
20               Aix en Provence  43.5298424           5.4474738   6.840000
21                       Avignon  43.9492493           4.8059012   2.315000
22                          Uzes  44.0121279           4.4196718   1.540000
23                         Nimes  43.8374249           4.3600687   1.630000
24                 Aigues Mortes  43.5658225           4.1912837   2.432500
25      Saintes Maries de la mer  43.4522771           4.4287172   3.225000
26                     Collioure    42.52505           3.0831554   2.850000
27                   Carcassonne  43.2130358           2.3491069   2.660000
28                      Toulouse  43.6044622           1.4442469   6.376667
29                     Montauban  44.0175835           1.3549991   6.236667
30                      Biarritz  43.4832523          -1.5592776   5.740000
31                       Bayonne  43.4933379           -1.475099   5.515000
32                   La Rochelle  46.1591126          -1.1520434   0.926667

In [22]:
#Best towns in terms of rain

rank = final.mean_rain.sort_values(ascending=True)
print(rank)

32     0.926667
16     1.360000
22     1.540000
23     1.630000
4      1.723333
3      1.771250
15     2.232500
21     2.315000
24     2.432500
18     2.545000
27     2.660000
2      2.718750
26     2.850000
13     2.937500
25     3.225000
7      3.302000
10     3.637500
11     3.742500
14     3.753333
0      3.766000
8      4.023333
12     4.044000
1      4.388000
19     5.200000
31     5.515000
30     5.740000
9      6.075000
29     6.236667
28     6.376667
6      6.766667
20     6.840000
5      9.833333
17    10.935000
Name: mean_rain, dtype: float64

### Chekpoint 28 mars 2022
Ici nous avons pu faire deux dataset avec les infos demandées.
Challenge suivant : merger les deux dataset et continuer l'exercice